# 1. what are data structures ? and why are they important?
  #Data structures are ways to organize and store data for efficient access and modification.  they help in optimizing performance, memory usage and algorithm efficiency.

#2. Diffrence between mutable and immutable data types with example:

  # Mutable can be changed after creation ,e.g list , dict
   
   list  = [1,2,3,4]
   list [0] = 100
   print("list")
   [100 ,2, 3, 4]

 # Immutable cannot be changed, e.g. tuple, str

  a = "kuldeep"
  s[0] = "k" # error

# 3. Diffrence between lists and tuples:
   # Lists are mutable , used[] and, slower.
   # Tuples are immutable, faster and used()

# 4. How dictionaries store data:
# Dictionaries store data as key-value pairs using a harsh table mechanism.

# 5. Why use set instead of list:
# sets avoid duplicates and provide faster membership testing using hashing.

# 6. what is a sting, and how is it different from list:
# Strings are immutable sequence of characters
# Lists are mutable sequence that can hold any data type.

# 7. How do tuples ensure data integrity:
# Being immutable, tuple prevent accidental changes to the data.

#8. What is a hash table (relation to dictionary):
  # A hash table maps keys to values using a hash function. python dictionaries are built on hash tables.

# 9. Can lists contain different data types?
 # Yes , python lists can can contain integers, strings, floats, etc.,together.

# 10.Why Strings are immutable in python:
# To improve performance and ensure safety when used in multiple places e.g. key in dictionaries

# 11. Advantages of dictionaries over list:
# Faster lookups using keys, better suited for labeled data.

# 12. When to use tuple over list:
  # when data should not change e.g. coordinates, config.

# 13. How sets handle duplicates:
# Sets automatically discard duplicates.

# 14. "in" keyword in lists vs dictionaries:
  # In list: checks for element presence
  # In dict: checks for key presence.

# 15. can you modify tuple elements?
# No, tuple are immutable.

# 16. What is nested dictionary (example)

data ={ "student" : {"name" : "Alice", "grade" : "A" }}

# 17. Time complexity of accessing dictionary elements:
 # Average : O(1) this is extremely fast,
 # O(N) : rare worst case

# 18. When lists are preferred over dictionaries:
# list: Preferred for ordered collections, sequenttial data, nuemarical indexing, duplicate elements, and when the position of an item significant.
# Dictionaries: Preferred for mapping relationships, fast lookup by a unique key, and when you need to associate value with descriptive labels.

# 19.why dictionaries are unordered:
  # in python version <3.7, order is not preserved . it affects iteration but not key lookup.

# 20. Diffrence in data retrieval (list vs dict):
  # lists: retrive data by numerical position(index)
    my_list[index] is O(1) very fast
    searching for value by content is O(N) (can be slow for large lists).
  # Dictionaries: Retrieve data by unique key
    my_dict[key] is O(1) on average very fast , uses hashing
    Wrosr-case is O(N) but extremly rare in practice due to optimizations.

In [ ]:
#1 write a code to create a string with your name and print it.
my_name ="Kuldeep Pandey"
print(my_name)

Kuldeep Pandey

In [ ]:
#2 Write a code to find the length of the string "Hello World"
my_string = "Hello World"
print(len(my_string))

11

In [ ]:
#3. Whrite a code to slice the frist 3 characters from the string
"Python Programming"
original_string = "Python Programming"
sliced_string = original_string[0:3]
print(sliced_string)

Pyt

In [ ]:
#4.whrite a code to convert the string "hello" to uppercaseP
P = "hello"
print(P.upper())

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
# 6. Write a code to create a list with number 1 to 5 and print itP
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. P write a code to append the number 10 to the list [1,2,3,4]P
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1,2,3,4,5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second elementin the list['a','b','c','d'].
my_list = ['a','b','c','d']
print(my_list[1])

b

In [ ]:
#10. Whrite a code to reverse the list [10,20,30,40,50].
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11. write a code to create a tuple with the elements 100,200,300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple('red','green','blue','yellow').
my_tuple = ('red','green','blue','yellow')
print(my_tuple[-2])

blue

In [ ]:
#13. Write a code a find the minimum number in the tuple(10,20,5,15).
my_tuple = (10,20,5,15)
print(min(my_tuple))

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [32]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [33]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [34]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [35]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [36]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [37]:
# 21. Write a code to create a dictionary with the keys "name", "age", and print it.
my_dict = {'name': 'kuldeep', 'age': 28}
print(my_dict)

{'name': 'kuldeep', 'age': 28}

In [38]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])
print(my_dict['age'])

Alice
30

In [41]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [42]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [48]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}

In [49]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).
import random
random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print(random_list)

[5, 32, 39, 70, 89]

In [50]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[2])

cherry

In [51]:
#29.  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [53]:
#30. Write a code to convert a list of strings into a set.
my_list = ['Ramesh', 'Suresh', 'Ganesh', 'Mahesh']
my_set = set(my_list)
print(my_set)

{'Suresh', 'Mahesh', 'Ramesh', 'Ganesh'}